{% extends 'base.html' %}

{% block title %}Создание новости{% endblock %}

{% block main %}
{% load static %}

    <link rel="stylesheet" href="{% static 'css/blog/createNewForm.css' %}">

    {% if user.is_authenticated  %}

    <div class="content">
        <div class="page_header h-1">Создание новости</div>
        <div class="page_links">
            <a href="{% url 'main' %}">Главная страница</a>
            <span class="page_arrow">=></span>
            <a href="{% url 'cases' %}">Кейсы</a>
            <span class="page_arrow">=></span>
            <a href="{% url 'createCaseForm' %}">Добавление кейса</a>
        </div>
    </div>

    

    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}

        {% if form.errors %}
            {{ form.errors }}
        {% endif %}

        {{ form.title }}</br>
        <div>{{ titleError }}</div>
        {{ form.img }}</br>
        {{ form.description }}</br>
        <div id="addImg" style="width: 100%; height: auto; background-color: blue; display: none;">
            {{ form.img_1 }}
            {{ form.img_2 }}
            {{ form.img_3 }}
            {{ form.img_4 }}
            {{ form.img_5 }}
            <button type="button" onclick="addImg()" style="margin-left: 45%;">Ок</button>
        </div>
        <button type="button" onclick="showAddImg()">Добавить картинку</button>
        <h3>{{ error }}</h3></br>
        <button type="submit">Создать</button>
    </form>

    {% else %}  

    {% endif %}
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <script src="{% static 'js/cases/createCaseForm/createCaseForm.js' %}"></script>

{% endblock %}