.content {
    width: 60%;
}

.nav_bar{
    position: absolute;
    left: 82%;
    top: 64%;
}

.nav_link{ 
    text-decoration: none;
    color: #222222;
    padding: 10%;
}

.nav_link:hover{
    padding-left: 30%;
    transition: 0.3s;    
}

.header_img {
    margin-top: 50px;
    margin-bottom: 80px;
}

.img_main{
    height: 500px;
    border-radius: 250px;
}

.header {
    margin-top: 20px;
    margin-bottom: 140px;
}

.about_me {
    margin-top: 40px;
    margin-bottom: 170px;
}

.contacts_links{
    margin-top: 20px;
}

.contacts_links a{
    margin: 20px;
}

.contacts_links a img{
    height: 70px;
}


@media (max-width: 1000px) {

    .content {
        width: 100%;
        margin: 0;
    }
    .header {
        text-align: center;
        margin: 0 5%;
    }

    .header_img {
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .img_main{
        width: 80%;
        height: 80%;
        border-radius: 50%;
        margin-left: auto;
    }

    .nav_bar{
        position: relative;
        left: 0%;
        top: 0%;
        text-align: center;
        margin-bottom: 50px;
    }

    .nav_link{
        padding: 0%;
    }

    .about_me{
        margin: 50px 5%;
    }

    .contacts{
        margin: 0 5%;
    }

    .contacts_links a img{
        height: 50px;
    }

    .nav_link{ 
        text-decoration: none;
        color: #222222;
        padding: 10%;
        border: 1px solid transparent;
        border-radius: 10px;
    }
    
    .nav_link:hover{
        padding: 0;
        border-color: #b8b8b8;
        transition: 0.3s;    
    }
}