{% extends 'base.html' %}

{% block title %}Кейсы{% endblock %}

{% block main %}
{% load static %}

    <link rel="stylesheet" href="{% static 'css/cases/cases.css' %}">

    <div class="content">
        <div class="page_header h-1">Кейсы</div>
        <div class="page_links">
            <a href="/">Главная страница</a>
            <span class="page_arrow">→</span>
            <a href="/cases">кейсы</a>
        </div>

        <div class="cases_grid">
            {% for obj in cases %}
            
            <a href='{% url "casePage" id=obj.id titleForURL=obj.titleForURL %}' class="cases_card">
                <div class="cases_img">
                    <!-- <img src="/media/{{ obj.img }}" height="294px"> -->
                </div>
                <div class="cases_title">
                    <div id="{{ obj.id }}">{{ obj.title }}</div>   
                </div>
            </a>    
         
            <!-- <script>
                var str = document.getElementById("{{ obj.id }}").innerHTML
                document.getElementById("{{ obj.id }}").innerHTML=str.replaceAll('_', ' ');
            </script> -->
        {% endfor %}
    </div>
</div>



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <script src="{% static 'js/cases/cases.js' %}"></script>

{% endblock %}